<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <title>
    {% if page.url == "/" %}
      {{ site.title }}
    {% else %}
      {{ site.title }} &middot; {{ page.title }}
    {% endif %}
  </title>

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <!-- Bootstrap modals -->
  <link href="{{ site.css }}/modal.css" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


  <!-- Setup initial events -->
  <script>
    $(document).ready(function(){
      // All links outside open in new tab
      $(document.links).filter(function() {
        return this.hostname != window.location.hostname;
      }).attr('target', '_blank');

      // Scroll to title if design for mobile devices
      var top = $(".page-title").offset().top,
          gap = 20;
      if(top > 100){
        $('html, body').animate({scrollTop:  top - gap + 'px' });
      }
    });
  </script>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.css }}/poole.css">
  <link rel="stylesheet" href="{{ site.css }}/syntax.css">
  <link rel="stylesheet" href="{{ site.css }}/hyde.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ site.images }}/icons/favicon.ico?v=2">

</head>
