<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/">
        <div class="sidebar-profile-pic"></div>
        <h1>{{ site.title }}</h1>
      </a>
      <p class="lead">
        <a href="{{ site.github }}">
          <img class="icon" src="{{ site.url }}/public/icons/github.png">
        </a> &nbsp;
        <a href="{{ site.linkedin }}">
          <img class="icon" src="{{ site.url }}/public/icons/linkedin.png">
        </a> &nbsp;
        <a href="mailto:{{ site.email }}" target="_top">
          <img class="icon" src="{{ site.url }}/public/icons/email.png">
        </a> &nbsp;
        <a href="{{ site.hackerrank }}" target="_top">
          <img class="icon" src="{{ site.url }}/public/icons/hackerrank.png">
        </a>
      </p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == "/" %} active{% endif %}" href="/">Home</a>
      {% for p in site.pages %}
        {% if p.category == "/" %}
          {% if p.layout == "page" %}
            {% assign title = p.title | downcase %}
            <a class="sidebar-nav-item{% if page.url contains title %} active{% endif %}" href="{{ p.url }}">{{ p.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
