<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/">
        <div class="sidebar-profile-pic"></div>
        <h1>{{ site.title }}</h1>
      </a>
      <div class="sidebar-icons">
        <a href="{{ site.github }}">
          <img class="icon" src="{{ site.url }}/public/icons/github.png">
        </a> &nbsp;
        <a href="{{ site.linkedin }}">
          <img class="icon" src="{{ site.url }}/public/icons/linkedin.png">
        </a> &nbsp;
        <a class="mailto" href="mailto:{{ site.email }}" target="_top">
          <img class="icon" src="{{ site.url }}/public/icons/email.png">
        </a> &nbsp;
        <a href="{{ site.hackerrank }}" target="_top">
          <img class="icon" src="{{ site.url }}/public/icons/hackerrank.png">
        </a>
      </div>
    </div>
    <hr class="sidebar-nav-rule gradient gradient-blue">
    <nav class="sidebar-nav">
      {% for p in site.navbar %}
        {% assign url    = (page.url | split:"/") %}
        {% assign subdir = url[1] | prepend:"/" %}
        <a class="sidebar-nav-item{% if subdir == p[1] %} active{% endif %}" href="{{ p[1] }}">{{ p[0] }}</a>
      {% endfor %}
    </nav>

    <p class="copyright">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>

  </div>
</div>
