
.icon-paper-plane:before { content: '\e800'; } /* '' */
.icon-github-circled:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-paper-plane-empty:before { content: '\e804'; } /* '' */
.icon-fork:before { content: '\e805'; } /* '' */
.icon-book:before { content: '\e806'; } /* '' */
.icon-pencil:before { content: '\e807'; } /* '' */
.icon-pencil-2:before { content: '\e808'; } /* '' */